<div fxLayout="column">

  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar>
      <!-- navbar container -->
      <div class="navbar-container">
        <!-- logo -->
        <button class="logo" mat-button style="font-size: 20px; color: purple; background: white;" [matMenuTriggerFor]="menu">nodebucket</button>
        <mat-menu #menu="matMenu">
        <button id="link2" class="navbar-link" routerLink="/" mat-button>Home</button>
        <button id="link1" class="navbar-link" routerLink="/about" mat-button>About</button>
        </mat-menu>
      </div>
    </mat-toolbar>
  </nav>

  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- footer -->
<div fxFlex style="margin-top: 15%;">
    <footer class="footer">
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
        </p>
      </mat-toolbar>
    </footer>
  </div>

</div>
