.logo {
  font-size: 24px;
  font-weight: lighter;
}

nav {
  padding: 10px;
  padding-left: -25px !important;
  padding-right: -25px !important;
  padding-top: 1% !important;
  height: 40px !important;
  width: 100% !important;
  background: deepskyblue !important;
  color: white;
}

#link1 {
 float: left;
}
#link2 {
  float: left;
}

mat-toolbar {
  background: deepskyblue !important;
  color: white;
}

.navbar-link {
  font-size: 24px;
  font-weight: lighter;
}

.footer {
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  position: fixed !important;
}

.footer-content {
  font-size: 16px;
  font-weight: lighter;
  padding-left: 100px;
  letter-spacing: 3px;
  background: deepskyblue !important;
  color: white;
}

.bu-link {
  text-decoration: none;
  color: white;
}

.bu-link:hover {
  text-decoration: underline;
}
