<div fxLayout="row">
<app-create-task></app-create-task>
</div>
<div fxLayout="row">
<div fxFlex="50" id="todo">
<div class="example-container">
    <h2 style="text-align: center;">To Do</h2>
    <div 
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of todo" cdkDrag>
        {{ item.text | async }}
        <div fxFlex fxLayoutAlign="end">
            <button [matMenuTriggerFor]="todoOptions" class="task-options-menu" mat-icon-button>
                <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #todoOptions="matMenu" x-position="before">
                <button (click)="deleteTask(item)" mat-menu-item>
                    Remove
                </button>
            </mat-menu>
        </div>
        </div>
    </div>
</div>
<div fxFlex="50" id="done">
    <div class="example-container">
        <h2 style="text-align: center;">Done</h2>
        <div 
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList]"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done" cdkDrag>
            {{ item.text | async }}
        <div fxFlex fxLayoutAlign="end">
            <button [matMenuTriggerFor]="doneOptions" class="task-options-menu" mat-icon-button>
                <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #doneOptions="matMenu" x-position="before">
                <button (click)="deleteTask(item._id)" mat-menu-item>
                    Remove
                </button>
            </mat-menu>
        </div>
        </div>
    </div>
</div>
</div>